<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vampon.springbootinit.mapper.UserVoucherurlInfoMapper">

    <resultMap id="BaseResultMap" type="com.vampon.springbootinit.model.entity.UserVoucherurlInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="voucherUrl" column="voucherUrl" jdbcType="VARCHAR"/>
            <result property="downloadStatus" column="downloadStatus" jdbcType="TINYINT"/>
            <result property="downloadTime" column="downloadTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,voucherUrl,
        downloadStatus,downloadTime,createTime,
        updateTime,isDelete
    </sql>
</mapper>
