<?xml version="1.0" encoding="UTF-8"?>
<!-- @author vampon -->
<!--  -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vampon.springbootinit.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.vampon.vamapicommon.model.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="unionId" column="unionId" jdbcType="VARCHAR"/>
        <result property="mpOpenId" column="mpOpenId" jdbcType="VARCHAR"/>
        <result property="accessKey" column="accessKey" jdbcType="VARCHAR"/>
        <result property="secretKey" column="secretKey" jdbcType="VARCHAR"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
        <result property="userProfile" column="userProfile" jdbcType="VARCHAR"/>
        <result property="userRole" column="userRole" jdbcType="VARCHAR"/>
        <result property="balance" column="balance" jdbcType="INTEGER"/>
        <result property="invitationCode" column="invitationCode" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
        <result property="userEmail" column="userEmail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,unionId,mpOpenId,accessKey,secretKey,
        userName,userAvatar,userProfile,
        userRole,balance,invitationCode,createTime,updateTime,isDelete,userEmail
    </sql>
</mapper>
